
body {
  background-color: #cfdfda;
  font-family: 'Josefin Sans', sans-serif;
}

p,label,input[type=submit] {
  font-weight: bold;	
}

img {
  display: inline;
  float: right;
  width: 70px;
  height: 70px;  
}

hr {
  border: 5px solid #cfdfda;
  width: 85%;
  border-radius: 20px;
}

div {
  padding: 20px; 
  color: #ff9633;
}

label {
  margin: 5px;
  display: block;
  margin-top: 25px;
}

#checkbox-label {
  display: inline-block;
}

input {
  border-radius: 25px;
  border-color: #cfdfda;
  background-color: #cfdfda;
  padding: 20px 20px;
  margin-top: 15px;
}

input[type=submit]{
  border-color: #7cad3e;
  color: #173042;
  background-color: #7cad3e;
  display: block;
}

input[type=checkbox]{
  display: inline;
}

.agreement {
    margin: 0;
    padding: 0;
}

/* CSS for screens above 1050px width Only */
@media only screen and (min-width: 1050px) { 
  body,p,hr,div,label,input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
  }
  
  div {
    width: 60%;
    background-color: #236477;	
	border-radius: 20px;
  }
}


