
body {
  background-color: #BEE3DB;
  font-family: 'Josefin Sans', sans-serif;
}

p,label,input[type=submit] {
  font-weight: bold;	
}

img {
  display: inline;
  float: right;
  width: 80px;
  height: 80px;  
}

hr {
  border: 5px solid #cfdfda;
  width: 85%;
  border-radius: 20px;
}

div {
  padding: 20px; 
  color: #deb1b4;
}

label {
  margin: 5px;
  display: block;
  margin-top: 25px;
}

#checkbox-label {
  display: inline-block;
}

input {
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #ffffff;
  padding: 20px 20px;
  margin-top: 15px;
}

input[type=text],input[type=email] {
  width: 85%;	
}
input[type=submit]{
  border-color: #deb1b4;
  color: #000000;
  background-color: #deb1b4;
  display: block;
}

input[type=checkbox]{
  display: inline;
}

.agreement {
    margin: 0;
    padding: 0;
}



/* CSS for screens above 1050px width Only */
@media only screen and (min-width: 1050px) { 
  body,p,hr,div,label,input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
  }
  
  div {
    width: 50%;
    background-color: #7c86a6;	
	border-radius: 20px;
  }
}


/* CSS font size increase for screens above 750px width Only */
@media only screen and (min-width: 750px) and (max-width: 1399px){
  input[type=text],input[type=email] {
    width: 95%;	
  }
  /*Modular Scaling for fonts - Using Perfect Fourth scale */
  h1 {
    font-size: 3.157em;
  }
  label,input {
    font-size: 2.369em;
  }
  p {
    font-size: 1.777em;
  }
}	

