
body {
  background-color: #BEE3DB;
  font-family: 'Josefin Sans', sans-serif;
}

p,label,input[type=submit] {
  font-weight: bold;	
}

img {
  display: inline;
  float: right;
  width: 80px;
  height: 80px;  
}

hr {
  border: 5px solid #cfdfda;
  width: 85%;
  border-radius: 20px;
}

div {
  padding: 20px; 
  color: #deb1b4;
}

label {
  margin: 5px;
  display: block;
  margin-top: 25px;
}

#checkbox-label {
  display: inline-block;
}

input {
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #ffffff;
  padding: 20px 20px;
  margin-top: 15px;
}

input[type=submit]{
  border-color: #deb1b4;
  color: #000000;
  background-color: #deb1b4;
  display: block;
}

input[type=checkbox]{
  display: inline;
}

.agreement {
    margin: 0;
    padding: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
  
}


/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.label:hover .dropdown-content {display: block;}

/* CSS for screens above 1050px width Only */
@media only screen and (min-width: 1050px) { 
  body,p,hr,div,label,input {
	text-align: center;
	display: block;
    margin-left: auto;
	margin-right: auto;
  }
  
  div {
    width: 60%;
    background-color: #555B6E;	
	border-radius: 20px;
  }
}


/* CSS font size increase for screens above 750px width Only */
@media only screen and (min-width: 750px) {
  body,p,hr,div,label,input {
    font-size: 125%;
  }
}	

