
body {
  background-color: #ff9633;
  font-family: 'Josefin Sans', sans-serif;
}

p,label,input[type=submit] {
  font-weight: bold;	
}

img {
  display: inline;
  float: right;
  width: 50px;
  height: 50px;  
}

hr {
  border: 5px solid #cfdfda;
  width: 85%;
  border-radius: 20px;
}

div {
  padding: 15px; 
  color: #cfdfda;
}

label {
  margin: 5px;
  display: block;
  margin-top: 25px;
}

#checkbox-label {
  display: inline-block;
}

input {
  border-radius: 20px;
  border-color: #cfdfda;
  background-color: #cfdfda;
  padding: 10px 20px;
  margin-top: 10px;
}
